<div class="row-fluid">
    <div class="well span3 unselectable" style="margin: 0 auto; float: none;">
        <form ng-submit="signin()">
            <h2 class="form-signin-heading">Please sign in</h2>
            <input type="text" class="input-block-level" placeholder="Username" ng-model="credentials.Username">
            <input type="password" class="input-block-level" placeholder="Password" ng-model="credentials.Password">
            <button class="btn btn-primary" type="submit">Sign in</button>
        </form>
    </div>
    <!--/span-->
</div>
