<div class="row-fluid vote">
    <div class="well ext span4 unselectable" ng-repeat="poll in polls">
        <div class="header">
            <span class="title">{{poll.Title}}</span>
            <span class="date">Ends on {{poll.Closing | date: 'MMM dd @ HH:mm a'}}</span>
        </div>
        <ul class="choices">
            <li ng-repeat="choice in poll.Choices" class="choice-item" ng-class="{voted: choice.Selected}" ng-animate="'new-choice'">
                <input type="checkbox" class="checker" ng-checked="choice.Selected" ng-click="vote(poll, choice)" title="Vote for this choice" />
                <span class="title" ng-click="vote(poll, choice)" title="Vote for this choice">{{choice.Label}}</span>
                <i class="more icon-angle-down" title="View more info" ng-click="showMoreInfo(choice)"></i>
                <div class="more-info" ng-show="choice.ShowMoreInfo" ng-animate="'fade'">
                    <span class="author">Added by {{choice.AddedBy.DisplayName}}</span>
                </div>
            </li>
            <li ng-show="poll.AllowEdit" class="choice-item adder">
                <form ng-submit="addChoice(poll)">
                    <input type="text" placeholder="Suggest an option" ng-model="newChoice.Label" />
                </form>
            </li>
        </ul>
    </div><!--/span-->
</div>