<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="false" strict="false" explicit="true" targetFramework="4.5" />
    <machineKey
      validationKey="58C109AA600C72B32929723E7DB0EB317E3FBCB143FD4E16E46A46ECADD4DA3A9146D27D2F35CAA40559E2D9DA11B602F931462213236CD8842514BB9C99DF59"
      decryptionKey="8D206B9886138608AEA5DB2C7F412A0224241FA94028586188238372E9240DC1"
      validation="SHA1"
      decryption="AES"
    />
  </system.web>
</configuration>
